p{
    color: black;
    font-size: 20px;
   
    
}

h2{
    color: black  !important;
    font-size: 35px !important;
    background-color: yellow;
}

.t_transform_up{
    text-transform: uppercase;
}

.t_transform_lo{
    text-transform: lowercase;
}

.t_transform_cp{
    text-transform: capitalize;
}

.t_center{
    text-align: center;
}

.t_right{
    text-align: right;
}

.t_dec_undline{
    text-decoration: underline;
}

.t_dec_uprline{
    text-decoration: overline;
}

.t_dec_linethrough{
    text-decoration: line-through;
}

.text{
    text-decoration: overline line-through underline;
}

.letter{
    text-indent: 160px;
}

.letter_spacing{
    letter-spacing: 10px;
}

.word_spacing{
    word-spacing: 30px;
}

.l_height{
    line-height: 28px;
}

.t_shadow1{
    font-size: 80px;
    text-align: center;
    color: orange;
    text-shadow: 4px 4px 3px cornflowerblue;
}

.t_shadow2{
    font-size: 80px;
    text-align: center;
    color: yellow;
    text-shadow: 4px 4px 3px purple;
}

.b_shadow{
    box-shadow: 10px 10px 8px red;
}

.d_shadow{
    filter: drop-shadow(10px 10px 8px black);
}

.t_color{
    text-align: center;
    color:blueviolet;
}

#t_color{
    color: blueviolet;
}

.t_bg{
    background-color: burlywood;
}

.t_font_size{
    font-size: 50px;
}

#t_align{
    text-align: center;
}

.f_family1{
    font-family: sans-serif;
}

.f_family2{
    font-family: monospace;
}

.f_family3{
    font-family: sans-serif;
}

.f_family5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.b_prop1{
    border: 6px double black;
}

.b_prop2{
    border: 6px inset red;
}

.b_prop3{
    border: 6px dotted red;
}

.b_prop4{
    border: 6px dashed red;
}
.b_prop5{
    border: 6px solid red;
}

.b_prop6{
    border: 6px outset red;
}